:root {
    font-size: 16px;
    font-family: "Ubuntu Condensed", sans-serif;
    --text-primary: black;
    --text-secondary: white;
    --bg-primary: #23232e;
    --bg-secondary: #141418;
    --transition-speed: 1s;
    --drawer-color: #0ea5e9;
    --drawer-width: clamp(210px, 50vw, 370px);
    --nav-bg-1: #f8f8f8;
    --nav-color-1: #c9c9c9;
    --nav-color-2: #ffffff6e;
    --blue-1: #084c61;
    --content-gray: rgb(235, 235, 235);
    --transition-notDrawer: margin-left 0.4s ease-in;
    --transition-drawer: width 0.4s ease-in;
}


body {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-areas:
      "nav nav nav nav"
      "content content content content";
    grid-template-rows: 0.6fr 4fr;
    grid-template-columns: 5rem 1fr 1fr 1fr;
}

.menuItem {
    color: var(--text-secondary);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.menuItem > h1 {
    display: none;
    margin-left: 2rem;
    margin-top: 11px;
}

.drawer:hover > .menuItem > h1 {
    display: flex;
  }

.drawer:hover ~ .navbar,
.drawer:hover ~ .MainContent {
 margin-left: calc(var(--drawer-width) - 5rem);
  }


.menuItem > * {
    cursor: pointer;
}

a {
    text-decoration: none;
  }

.drawer > *:not(:first-child) > * {
padding: 1vw 0.1vw 0.1vw 0vw;
font-size: calc(20px + 0.2vw);
padding-left: 20px;
}

.drawer > *:not(:first-child) > img {
    width: calc(20px + 0.5vw);
    height: calc(20px + 0.5vw);
  }

.dashboard {
    font-size: clamp(12px, calc(25px + 0.9vw), 50px);
}

.dashboard img {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: calc(40px + 0.7vw);
    height: calc(40px + 0.7vw);
    padding-left: 10px;
    padding-top: 10px;
}

.drawer > div:nth-child(8) {
    padding-top: 60px;

}
  
.navbar{
  grid-area: nav;
  transition: var(--transition-notDrawer);
  background-color: var(--nav-bg-1);
  padding: 1.5vw 3vw;
  border-bottom: 2px solid rgb(219, 219, 219);
}

.topNav {
  display: grid;
  grid-template-columns: 1fr max-content;
  margin-bottom: 2.5vw;
}

.search {
    display: flex;
    align-items: center;
    margin-right: auto;
    width: 100%;
  }

.search > input {
    display: inline-block;
    border: 0;
    background-color: var(--nav-color-1);
    padding: 0.5rem 1.5rem;
    outline-color: var(--blue-1);
    margin-left: 0.5vw;
    border-radius: 50px;
    width: min(80%, 600px);
    margin-right: 20px;
  }

.magnify {
    width: 30px;
}

.navbar .account {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 1.2rem;
    font-weight: 800;
}

.avatar {
    border-radius: 50%;
  }

.account .avatar {
    margin: 0 2.5vw 0 2.5vw;
    height: 40px;
    width: 40px;
}

.bell {
    width: 20px;
    cursor: pointer;
}
img {
    cursor: pointer;
  }

.bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profile {
    display: flex;
    align-items: center;
    gap: 1vw;
  }

.profile .avatar {
    width: 75px;
    height: 75px;
  }
  
  .greeting {
    font-weight: 800;
    margin-bottom: 0.4vw;
  }

  .profile .name {
    font-size: 1.6rem;
    font-weight: 800;
  }

  .buttons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 2vw;
    flex-wrap: wrap;
    margin: 1vw;
    margin-left: 6vw;
  }

  .btn {
    background-color: var(--drawer-color);
    color: var(--text-secondary);
    font-weight: 800;
    padding: 0.5rem 1.8rem;
    border-radius: 7px;
    font-size: 20px;
    border: 1px solid gray;
    cursor: pointer;
  }

  .MainContent {
    grid-area: content;
    transition: var(--transition-notDrawer);
    background-color: #ebebeb;
    display: grid;
    padding: 2rem;
    grid-template-columns: 1fr auto;
    grid-template-rows: min-content 1fr;
    gap: 2rem;
    grid-template-areas:
      "projects announcements"
      "projects trending";
    flex-wrap: wrap;
  }
  
  .MainContent h3 {
    font-size: 1.5rem;
    font-weight: 800;
    margin-bottom: 0.8rem
  }

  .projects {
    grid-area: projects;
  }

  .projects .cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-rows: 250px;
    gap: 2rem;
    padding-bottom: 2rem;
  }

  .projects .card {
    background-color: var(--nav-color-2);
    border-left: 10px solid rgb(219, 205, 12);
    display: flex;
    flex-direction: column;
  }

  .projects .card-title {
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 1rem;
  }

  .projects .card-text {
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  .projects .icons {
    margin-top: auto;
    align-self: flex-end;
    display: flex;
    justify-content: flex-end;
    gap: 1.4rem;
    align-items: center;
    padding-bottom: 5px;
    padding-right: 5px;
    width: 2.5vw;
  }

  .card {
    background-color: rgba(255, 255, 255, 0.459);
    padding: 2rem;
    border-radius: 0.6rem;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 /0.1);
    max-width: 30vw;
  }

  .announcements {
    grid-area: announcements;
  }

  .announcementhead {
    margin-bottom: 20px;
    font-weight: 800;
  }

  .announcement {
    width: 25ch;
    padding: 1rem 0;
  }

  .announcement:first-child {
    padding-top: 0;
  }

  .announcement:last-child {
    padding-bottom: 0;
  }

  .announcement h5 {
    font-size: 0.9rem;
    margin-bottom: 0.3rem;
  }

  .announcement p {
    font-size: 0.8rem;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden
  }

  .announcement + .announcement {
    border-top: rgb(115, 115, 115) 1px solid;
  }

  .trending {
    grid-area: trending;
  }

  .trending .card {
    padding: 1.5rem;
  }

  .trend {
    display: flex;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
  }

  .trend + .trend {
    margin-top: 1.5rem;
  }

.trend .account {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  font-size: 0.9rem;
}

.trend .username{
  font-weight: 500;
  margin-bottom: 0.15rem;
}

.trend-1 .avatar {
  background: var();
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.trend-2 .avatar {
  background: var();
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.trend-3 .avatar {
  background: var();
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.trend-4 .avatar {
  background: var();
  border-radius: 50%;
  width: 40px;
  height: 40px;
}


  